/* var.css */
/* 글자옵션, 레이아웃크기, 색상 등 값 위주의 변수 */
:root {
    /* 색상 */
    --color-primary:#1713A2;
    --color-dark:#111;
    --color-light:#fff;
    --color-gray:#ddd;
    --color-gradient-dark:linear-gradient(180deg, rgba(0,0,0,0), rgba(0,0,0,1));

    /* 글자크기 */
    --m-font-size-base:1em;/* 내용 */
    --m-font-size-sm:0.875em;/* 버튼 */
    --m-font-size-lg:1.875em;/* 제목 */
    --t-font-size-base:1;
    --t-font-size-sm:1.25em;
    --t-font-size-lg:2.813em;
    --d-font-size-base:1.25em;
    --d-font-size-sm:1.375em;
    --d-font-size-lg:3.75em;
    /* 크기, 여백 */
    /* 모바일 */
    --spacing-m-l-r:15px;
    /* 태블릿 */
    --spacing-t-l-r:60px;
    /* 데스크탑 */
    --width-desktop:1120px;
    /* 공통 */
    --spacing-auto:0 auto;
    --icon-xs:6px;
    --icon-sm:8px;
    --icon-m:10px;
    --icon-lg:24px;
    --icon-l:48px;
    --icon-xl:60px;
}/* e:root */

/* 공통 디자인 Class */
.flex-row-center {
    display:flex; flex-flow:row nowrap;
    justify-content:center; align-items:center;
}
.flex-row-between {
    display:flex; flex-flow:row nowrap;
    justify-content:space-between; align-items:center;
}
.flex-col-center {
    display:flex; flex-flow:column nowrap;
    justify-content:center; align-items:center;
}
.flex-col-between {
    display:flex; flex-flow:column nowrap;
    justify-content:space-between; align-items:center;
}